<div class='custom-control' id="custom">
<p>Custom Order Control</p>
<!--
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Sydney_Opera_House_-_Dec_2008.jpg/1024px-Sydney_Opera_House_-_Dec_2008.jpg' width="150px">

<button (click)="myButton('cables')">Cables</button>
<button (click)="myButton('topo')">Topo (Opacity 1)</button>
-->

<!-- $event.target.checked -->


<div *ngFor="let clo of customOverlayOrder">
<input type="checkbox" [(ngModel)]="clo.checked" (change)="onCheckboxChanged($event,clo)"> {{clo.title}}
</div>


<br>
<b>Actual Layer Order</b> LAST is on TOP!
<div *ngFor="let mck of mapCollectionKeys">
<li>{{mck}}</li>
</div>





</div>