<div class="container-fluid py-3">
  <h1>Angular 13+ with Leaflet</h1>

  <div id="map"></div>
  <button (click)="flyToMarker()">Fly To Marker</button>
  <button (click)="showOverlayImage()">Overlay</button>
  <button (click)="dumpMapCollectionAndRemoveLayers(false)">Dump</button>
  <button (click)="dumpMapCollectionAndRemoveLayers(true)">Reset Layers</button>
  <button (click)="activeLayers()">Active Layers</button>
  <button (click)="newLayerControl()">Alt Layer Control</button>
  <br>
  <br>
  <span class='message'>{{message}}</span>
<span *ngIf="!enableStandardLayerGroupControl">   
<app-custom-leaflet-control
  [map]='map'  [customOverlayOrder]='customOverlayOrder'
></app-custom-leaflet-control>
</span>


</div>
