<div class="container-fluid py-3">
  <h1>Angular 15+ with Leaflet</h1>
  <p>
    @types/leaflet and leaflet are installed packages. leaflet css in index.html
  </p>

  There is supoosed to be a font-awesome icon here (
  <i class="fa-solid fa-display"></i>
  )

  <div class="container">
    <div class="left" [ngStyle]="{ width: leftWidth }">
      <app-map-nav></app-map-nav>
    </div>
    <div class="right">
      <button (click)="toggleLeft()" class="toggle-button">
        <i
          [class]="
            isLeftVisible ? 'fas fa-chevron-left' : 'fas fa-chevron-right'
          "
        ></i>
      </button>

      <div style="width:1000px;height:63.6vh;" id="map"></div>
    </div>
  </div>

  <button (click)="flyToMarker()">Fly To Marker</button>
  <button (click)="showOverlayImage()">Overlay</button>
  <button (click)="dumpMapCollectionAndRemoveLayers(false)">Dump</button>
  <button (click)="dumpMapCollectionAndRemoveLayers(true)">Reset Layers</button>
  <button (click)="activeLayers()">Active Layers</button>
  <button (click)="newLayerControl()">Alt Layer Control</button>
  <br />
  <br />
  <span class="message">{{ message }}</span>
  <span *ngIf="!enableStandardLayerGroupControl">
    <app-custom-leaflet-control
      [map]="map"
      [customOverlayOrder]="customOverlayOrder"
    ></app-custom-leaflet-control>
  </span>
</div>

<!--
   position: absolute;top: 0; bottom: 0; width: 100%;

    <div style='width:1000px;height:63.6vh;' id="map"></div>

     <div style='position: absolute;top: 0; bottom: 0; width: 100%;' id="map"></div>
-->
